<h1> A CAT<h1>

<!-- <li> -->
  <ul>
    <li> <%= @cat.name %> </li>
    <li> <%= @cat.color %> </li>
    <li> <%= @cat.age %> </li>
    <li> <%= @cat.sex %> </li>
    <li> <%= @cat.description %> </li>
    <br>
  </ul>
<!-- </li> -->
